@import '../../variables';

.RecentColors {
  font-family: $primary-font;
  color: white;
  padding: 10px;
  margin-bottom: 10px;

  & ul {
    display: flex;
    justify-content: space-between;
  }
}
