@import '../variables';

label {
  color: white;
  padding-right: 10px;
  font-family: $primary-font;
}

.Toolbar {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - #{$toolbar_toggle_height});
  width: 100vw;
  background-color: #1d1d1d;
  border-left: 2px solid #2f2f2f;
  z-index: 1;
}

.Toolbar_toggle {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $toolbar_toggle_height;
  width: 100vw;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
  z-index: 2;
}

.Toolbar_top {
  padding: 5px;
}

.Toolbar_fonts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Toolbar_color_picker {
  display: grid;
  place-content: center;
  align-self: center;
  width: 100%;
  background-color: #2b2b2b;
}

.sketch-picker {
  box-sizing: border-box !important;
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 10px 10px 0px 10px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.sketch-picker div:nth-child(2) div div:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.7);
}

.flexbox-fix div span {
  color: white !important;
}

@media (min-width: 750px) {
  .Toolbar_toggle {
    display: none;
  }

  .Toolbar {
    top: $toolbar_toggle_height;
    right: 0;
    width: $toolbar_width;
  }
}
