@import '../variables';

label {
  color: white;
  padding-right: 10px;
  font-family: $primary-font;
}

.Toolbar {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc(100vh - #{$toolbar_toggle_height});
  width: 100vw;
  background-color: black;
  z-index: 1;
}

.Toolbar_toggle {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $toolbar_toggle_height;
  width: 100vw;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
  z-index: 2;
}

.Toolbar_top {
  padding: 5px;
}

.Toolbar_fonts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Toolbar_color_picker {
  position: fixed;
  bottom: 0;
}

@media (min-width: 750px) {
  .Toolbar_toggle {
    display: none;
  }

  .Toolbar {
    top: $toolbar_toggle_height;
    right: 0;
    width: $toolbar_width;
  }
}
