main.StyleGuide {
  position: fixed;
  top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100vh - 30px);
  width: 100vw;
  padding: 0 50px 50px 50px;
  background-color: #eee;
  overflow: auto;
}

.StyleGuide_colors_container,
.StyleGuide_typography_container {
  margin-left: 20px;
  margin-right: 20px;
}

.StyleGuide_header_colors,
.StyleGuide_body_colors {
  padding-bottom: 10px;
}

.StyleGuide_header_colors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 20% 10%;
      grid-template-columns: 70% 20% 10%;
  -ms-grid-rows: 100px 20px;
      grid-template-rows: 100px 20px;
}

.StyleGuide_header_bg_color {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
}

.StyleGuide_emphasis_color {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
}

.StyleGuide_emphasis_compliment_color {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
}

.StyleGuide_body_colors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 20% 10%;
      grid-template-columns: 70% 20% 10%;
  -ms-grid-rows: 100px 20px;
      grid-template-rows: 100px 20px;
}

.StyleGuide_bg_color {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
}

.StyleGuide_text_color {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
}

.StyleGuide_hx_color {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
}

.StyleGuide_typography_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 3.8fr;
      grid-template-columns: 1.2fr 3.8fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  border: 1px solid #c1c1c1;
  background-color: #ddd;
}

.StyleGuide_typography_container div {
  height: 100px;
  padding: 15px;
}

.StyleGuide_heading_font_details,
.StyleGuide_text_font_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ccc;
  font-family: "Open Sans", sans-serif;
  border-right: 1px solid #c1c1c1;
}

.StyleGuide_heading_font,
.StyleGuide_text_font {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 15px;
  margin-right: 15px;
}

.StyleGuide_heading_font_details {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.StyleGuide_heading_font {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.StyleGuide_text_font_details {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.StyleGuide_text_font {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}
/*# sourceMappingURL=StyleGuide.css.map */