@import '../../variables';

.Selector_list {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  color: white;

  & li {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  & li div {
    margin-right: 7px;
  }
}
