@import '../../variables';

.Selector_list {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  font-size: 15px;
  color: white;

  & li {
    display: flex;
    padding: 5px;
  }

  & li div {
    margin-right: 7px;
  }
}

.selected {
  border: 1px solid blue;
}
