@import '../../variables';

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.Header_nav {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.Header_logo_text {
  width: 100%;
  text-align: center;
}

.Header_input {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: $hx_font;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid grey;
}

.Header_login {
  padding-bottom: 10px;
}
