$link_color: #ffffff;
$hx_font: 'Raleway', sans-serif;
$primary_font: 'Open Sans', sans-serif;
$window_horizontal_padding: 0px 30px 0px 30px;
$toolbar_toggle_height: 30px;
$navigation_bar_height: 30px;
$toolbar_width: 220px;
$header_height: 62px;
